<div class="row" ng-hide="exists">
    <div class="col-xs-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            This room does not exist!
        </div>
    </div>
</div>
<div class="row" ng-show="notDeleted">
    <div class="col-xs-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            There was an error deleting this room.
        </div>
    </div>
</div>

<div class="row" ng-show="exists">
    <div class="col-xs-12">
        <h1 class="page-header">Edit Room {{ room.roomNumber }}</h1>
        <form ng-submit="updateRoom()">
            <div class="form-group">
                <label>Number / Name: </label>
                <input type="text" ng-model="room.roomNumber" class="form-control" ng-value="room.roomNumber">
            </div>
            <div class="form-group">
                <label>Capacity </label>
                <input type="number" ng-model="room.roomCapacity" class="form-control">
            </div>
            <div class="form-group">
                <label>Description </label>
                <textarea ng-model="room.roomDescription" class="form-control"></textarea>
            </div>
            <!--<div class="form-group">
                <label>Password:</label>
                <input type="password" ng-model="room.roomGroup" class="form-control">
            </div>-->
            <input type="hidden" ng-model="roomId">
            <button class="btn btn-warning" type="submit">Update</button>
            <button class="btn btn-danger" ng-click="deleteRoom()">Delete Room</button>
        </form>
    </div>
</div>
